<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CogniBrief</title>
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
                background: linear-gradient(to bottom, #0f0c29,#03c6d0, #3df6f9);
            }
    
            nav {
                display: flex;
                justify-content: center;
                background-color: #03c6d0;
                padding: 15px;
                font-size: 25px;
            }
    
            nav a {
                color: #0f0c29;
                text-decoration: none;
                padding: 10px;
                margin: 0 10px;
            }
    
            nav a:hover {
                background-color: #da9595;
            }
    
            .content {
                display: flex;
                justify-content: space-between;
                padding: 30px;
                align-items: left;
            }
            h1{
        color: #f1f7f5;
        font-size: 99px;
         }
         .pre1{
            color: #7a0360;
            font-size: 45px;
            font-style:italic;
            font-weight: 900;
         }
         .pre2{
            color: #d4254b;
            font-size: 25px;
            font-style:italic;
            font-weight: 500;
         }
         .link-btn
    {
        display: inline-block;
        text-decoration:none;
        color: rgb(0, 38, 143);
        border: 1px solid rgb(19, 0, 52);
        padding: 12px 34px;
        font-size: 20px;
        background: transparent;
        position: relative;
        cursor: pointer;
    }
    .link-btn:hover
    {
        border: 1px solid rgb(1, 137, 228);
        background:#03c6d0;
        transition: 1s;
    }
        </style>
    </head>
    <body>
        <nav><b>
            <a href="/login">Login</a>
            <a href="./createblog">Blog</a>
            <a href="/aboutus">About Us</a>
            <a href="/FAQ">FAQ</a>
            <a href="/review">Review</a>
            <a href="/privacy">Privacy & Policy</a>
        </b>
        </nav>
    
        <div class="content">
            <img src="homepage.jpg" alt="Website Image" height="590">
            <div class="site-info">
                <h1>&nbspCogniBrief</h1><pre class="pre1">
           UNLOCK THE 
            POWER OF
          SUMMARIZATION</pre><PRE class="pre2">
        Experience the power of concise
     understanding with our expertly crafted
         text summarization tools.</PRE>
         &nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
         <a href="/dashboard" class="link-btn">TRY NOW</a>
            </div>
        </div>
    
    </body>
    </html>
    